@model Education_Admins.ViewModels.CourseViewModel

@{
  ViewBag.Title = "Delete";
}

@section styles{
<link rel="stylesheet" href="~/css/delete-course-page.css">
}

<h1 class="page-title">Are you sure you want to delete this course?</h1>

<article class="delete-course">
  <form class="form" asp-action="Delete" asp-route-id="@Model!.CourseId" method="post">
    <h4>Course</h4>
    <dl class="dl-horizontal">
      <dd>
        @Html.HiddenFor(x => x.CourseId)
      </dd>
      <dd>
        @Html.DisplayFor(model => model.Title)
      </dd>
      <dd>
        @Html.DisplayFor(model => model.CourseNumber)
      </dd>
    </dl>
    <button type="submit" class="btn btn-primary btn-update">Delete</button>
    @* <button type="submit" asp-route-id="@Model.CourseId"><i class="fa-solid"></i>Yes</a> *@
    <a class="go-back" asp-action="Index"><i class="fa-solid"></i>No</a>
  </form>
</article>
