@using Education_Admins.Models
@model Education_Admins.ViewModels.EditCourseViewModel

@{
  ViewBag.Title = "Edit Course";
}
@{
  var teachersViewData = ViewData["Teachers"];
}
<h1 class="page-title">Update Course</h1>
<section class="form-container">
  <h4>Course information</h4>
  <form class="form" asp-action="Edit" method="post">
    <div class="form-control">
      <label asp-for="@Model!.CourseNumber"></label>
      <input asp-for="@Model!.CourseNumber" />
    </div>
    <div class=" form-control">
      <label asp-for="@Model!.Title"></label>
      <input asp-for="@Model!.Title" />
    </div>
    <div class="form-control">
      <label asp-for="@Model!.Duration"></label>
      <input asp-for="@Model!.Duration" />
    </div>
    <div class="form-control">
      <label asp-for="@Model!.Description"></label>
      <input asp-for="@Model!.Description" />
    </div>
    <div class="form-control">
      <label asp-for="@Model!.Details"></label>
      <input asp-for="@Model!.Details" />
    </div>
    <div class="form-control">
      <label asp-for="@Model!.CategoryName"></label>
      <input asp-for="@Model!.CategoryName" />
    </div>
    <div class="form-control">
      <label asp-for="@Model!.ImageUrl"></label>
      <input asp-for="@Model!.ImageUrl" />
    </div>
    </div>
    <div class="form-control">
        <label for="teachers">Teacher</label>
        <select id="teachers" name="teachers">
          @* @foreach (var item in (IEnumerable<Teacher>!)ViewData["teachersViewData"])
          {
            <option value="@item.FirstName"></option>
          } *@
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</section>

@section Scripts {
<script>
  $(document).ready(funciton() {
    $('.custom-file.input').on("change", function () {
      var fileName = $(this).val().split("\\").pop();
      $(this).next('.custom-file-label').html(fileName);
    });
  })
</script>
}