@model IEnumerable<Education_Platform.ViewModels.CourseViewModel>

@{
    ViewData["Title"] = "Our courses";
}

<h1>@ViewData["Title"]</h1>

<section>
    @foreach (var course in Model!)
    {
        <div>
            <a asp-controller="Course" asp-action="Details">@course.Title</a>
                <p>@course.CourseNumber</p>
        </div>
    }
</section>
