@model IEnumerable<Education_Admins.ViewModels.TeacherViewModel>

@section styles{
<link rel="stylesheet" href="~/css/gallery-page.css">
}

@{
    ViewData["Title"] = "Our Teachers";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<article>
    <section class="gallery-wrapper">
        @foreach (var teacher in Model!)
        {
            <div class="gallery-card">
                <a href="#">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" title="teacher-profile-avatar" width="200">
                </a>
                <h4>@teacher.FirstName @teacher.LastName</h4>
                <p>@teacher.Competences</p>
            </div>
        }
    </section>
</article>

<div class="modal hidden">
    <button class="close-modal">&times;</button>
    <div class="modal-container"></div>
</div>
<div class="overlay hidden"></div>

@section scripts{
<script src="~/js/gallery-page.js"></script>
}